<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1025054520064-4o23k8a2ocbhn74e2hu51d5n6nd7se39.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1025054520064-4o23k8a2ocbhn74e2hu51d5n6nd7se39</string>
	<key>API_KEY</key>
	<string>AIzaSyCPHQ8-Pjpbu2sNL24fNf0lj6TjTdLFcws</string>
	<key>GCM_SENDER_ID</key>
	<string>1025054520064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.memby</string>
	<key>PROJECT_ID</key>
	<string>memby-application</string>
	<key>STORAGE_BUCKET</key>
	<string>memby-application.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025054520064:ios:941dbdfe49d3cbebb139e5</string>
	<key>DATABASE_URL</key>
	<string>https://memby-application-default-rtdb.firebaseio.com</string>
</dict>
</plist>